// Colores corporativos
azul_corporativo_primario = #19287F
amarillo_corporativo_primario = #FFD400
rojo_corporativo_secundario = #FF1B1C
azul_claro_corporativo_secundario = #8D9EBC
amarillo_corporativo_apoyo = #F8A815
azul_corporativo_apoyo = #1F2B50

.block-features__item-title
    color azul_corporativo_primario
    font-weight 800

// Botón del slider de inicio
.block-slideshow__item-button
    background-color amarillo_corporativo_primario
    color azul_corporativo_primario
    font-weight bold

.block-slideshow__item-button:hover
    background-color azul_corporativo_apoyo

.block-slideshow__item-title
    color azul_corporativo_primario

.block-slideshow__carousel .owl-carousel button.owl-dot.active:before
    background amarillo_corporativo_apoyo;

.block-zone__card
    cursor pointer

.indicator
    color azul_corporativo_primario

.main-menu__item, .section-header__title, .block-zone__tabs
    color azul_corporativo_primario
    font-weight bold

.main-menu .main-menu__item:hover .main-menu__link
    background amarillo_corporativo_apoyo;
    color white
    font-weight bold

.topbar--spaceship-start, .header__topbar-start-bg:before, .departments__button:hover
    background azul_corporativo_primario

// Submenú marcas
.departments__item, .departments__item-link, .departments__item-arrow, .hla
    color azul_corporativo_primario

    :hover
        background amarillo_corporativo_apoyo
        color white

.departments__button, .departments--open .departments__button
    color azul_corporativo_primario
    
.departments__button:hover, .departments--open .departments__button
    background amarillo_corporativo_apoyo

.topbar--spaceship-end, .header__topbar-end-bg:before
    background amarillo_corporativo_primario

.topbar__button-label
    color azul_claro_corporativo_secundario

.topbar__button-label:hover
    color rojo_corporativo_secundario

.social-links__item--linkedin a
    background #0A66C2
    color white