# Directorios
application/config/development/
application/config/production/
application/logs/
application/vendor/
frontend/

# Directorios de imágenes
images/avatars/
images/banners/
images/brands/
images/categories/
images/departments/
images/icons/
images/languages/
images/posts/
images/products/
images/slides/
images/teammates/
images/testimonials/

# Archivos
.vscode/settings.json
application/composer.lock
index.php