# Directorios
application/config/development/
application/config/production/
application/logs/
application/vendor/
application/views/productos_/
archivos/15. CERTIFICADOS DE RETENCION/2025/
archivos/campanias/
archivos/certificados_retencion/
archivos/banners/
archivos/banners/inicio/
archivos/fotos_/
archivos/fotos/
archivos/recibos/
archivos/solicitudes_credito/
archivos/solicitudes_garantia/
archivos/temporales/
archivos/documentos_contables/
archivos/whatsapp/
frontend/
web/
test/

# Directorios de imágenes
images/avatars/
# images/banners/
images/brands/
images/categories/
images/departments/
images/languages/
images/posts/
images/products/
images/teammates/
images/testimonials/

# Archivos
.vscode/settings.json
application/composer.lock
/index.php
images/about-1903x1903.jpg
sitemap.xml

wishlist.html
typography.html
track-order.html
terms.html
shop-table.html
shop-right-sidebar.html
shop-list.html
shop-grid-6-columns-full.html
shop-grid-5-columns-full.html
shop-grid-4-columns-sidebar.html
shop-grid-4-columns-full.html
shop-grid-3-columns-sidebar.html
quickview.html
product-sidebar.html
product-full.html
post-without-image.html
post-right-sidebar.html
post-left-sidebar.html
post-full-width.html
order-success.html
mobile-header-variant-two.html
mobile-header-variant-one.html
images/about.jpg
images/finder-1903x500.jpg
images/finder.jpg
images/sale.jpg
images/signature.jpg
images/sprite.svg
index2.html